body{
    margin: 0;
    background-color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    /*background-color: hsla(25, 100%, 97%, 0.922);*/
   /*justify-content: center;
   align-items: center;*/
}
#calendar{
    margin: auto;
    width: 450px;
    height: 668px;
    background-color:hsla(25, 100%, 97%, 0.922);
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,1);
}
#month{
    width: 100%;
    height: 263px;
    background-image: url(R.jpg) ;
    color: white;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
}
#weekend{
    display: flex;
    background-color: rgb(156, 150, 150);
    justify-content: space-between;
    justify-content: space-around;
    padding: 7px 0;
    color: white;
}
.day{
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
    color: black;
    
}
.day div{
    width: 14.28%;
    margin-bottom: 25px;
    padding: 8px 0;
    transition: all 0.4s;
}
.day div:hover{
    background-color: #dfe6e9;
    cursor: pointer;
}
#today{
    background-color: rgb(156, 150, 150);
}
#preday{
    color: #6b6969;

}
/*#mon{
    font-size: 30px;
    font-weight: 500;
}*/
#prev{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    height: 12%;
    /*background-color: #c3bbbb;*/
    border-radius: 50%;
    transition: all 0.4s;
}
#prev:hover,#nex:hover{
    background-color: #dfe6e9;
    cursor: pointer;

}
#nex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    height: 12%;
    /*background-color: #c3bbbb;*/
    border-radius: 50%;
    transition: all 0.4s;

}